
$bordes:(
    color1:gray,
    color2:gray,
    color3:gray
);

@each $borde,$color in $bordes {
    .bordeImagenCliente--#{$borde}{
        border-style: solid;
        border-color: $color;
    }
}
