
$bordes:(
    color1:#1f7287,
    color2:#1288b9,
    color3:#55305a
);

@each $borde,$color in $bordes {
    .bordeImagenCliente--#{$borde}{
        border-style: solid;
        border-color: $color;
    }
}
