@mixin tamanoCajaServicios($alto,$ancho,$margen,$borde,$colorBorde,$colorFondo){
    height: $alto;
    width: $ancho;
    margin: $margen;
    border-style: $borde;
    border-color: $colorBorde;
    background-color: $colorFondo;
}


@mixin alineacionCajas{
    display: inline-block;
}

.cajaServicios{
    @include tamanoCajaServicios(164px,331px,20px,solid,gray,white);
    @include alineacionCajas;
    &:hover{
        border-style: solid;
        border-width: 5px;
        border-color:#37b5c0;
        transform: scale(1.1);
    }
}